<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Compare reviews</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"/>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
    	$(document).ready(function(){
			
    	});
    </script>
</head>
<body>
<div class="container">
<div class="panel panel-default">
	<div class="panel-heading"><h4>All applications</h4></div>
	<div class="panel-body" style="overflow: auto;">
		<table class="table table-striped">
		    <tr>
		    	<td>
		    		Application (click to find competitors)
		    	</td>
		    	<td>
		    		Link to iTunes
		    	</td>
		    </tr>
		    <tr th:each="app : ${apps}">
		    	<td th:if="${appsMap.containsKey(app)}">
		    		<a th:href="|/reviews/features/${app}|" target="_blank">
		    			<div style="display:inline-block;">
		    				<img th:attr="src=${appsMap['__${app}__'].img}" style="height: 100px; width: 100px"/>
		    				<b th:text="${appsMap['__${app}__'].name}"></b>
		    			</div>
		    		</a> 
		    	</td>
		    	<td th:if="${appsMap.containsKey(app)}">
		    		<a th:href="|http://itunes.apple.com/us/app/id${app}|" th:text="|http://itunes.apple.com/us/app/id${app}|" target="_blank"></a>
		    	</td>
    		</tr>
    			
		</table>
	</div>
</div>
</div>
</body>
</html>