<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Choose applications</title>
	<style type="text/css">
		#tableWrapper{
			height:80vh;
			overflow:auto;
		}
		.clear{
			height:2px;
		}
	</style>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"/>

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-resource.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-cookies.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
    	$(document).ready(function(){
			
    	});
    </script>
</head>
<body>
<div class="container">
<div class="panel panel-default">
	<div class="panel-heading"><h4>These are closest competitors based on features you choose</h4></div>
	<div class="panel-body" style="overflow: auto;">
		<form action="/reviews/getstatistic" method="post">	
			<div id="tableWrapper">
			<table class="table table-bordered table-striped">
				<tr>
					<td></td>
					<td><b>Application</b></td>
       				<td>Common features with Base application</td>
			    </tr>
			    <tr th:each="app : ${apps}" th:if="${appsMap.containsKey(app)}">
		    		<td th:if="${app == appid}"><input type="checkbox" name="apps" th:attr="value=${app}" checked="true"/></td>
		    		<td th:if="${app != appid}"><input type="checkbox" name="apps" th:attr="value=${app}"/></td>
		    		<td><div style="display:inline-block;">
		    				<img th:attr="src=${appsMap['__${app}__'].img}" style="height: 100px; width: 100px"/>
		    				<b th:text="${appsMap['__${app}__'].name}"></b>
		    			</div><i th:if="${app == appid}"> (Base app)</i></td>
		    		<td><b th:text="${appsFrequency['__${app}__']}"></b> out of <b th:text="${featureamount}"></b> features you choose</td>
    			</tr>
			</table>
			</div>
			<div class="clear"></div>
			<a class="btn btn-danger" th:href="|/reviews/features/${appid}|">Back</a>
			<input type="hidden" name="appid" th:attr="value=${appid}"/>
			<input type="hidden" name="feature" th:each="feature : ${features}" th:attr="value=${feature}"/>
			<input type="submit" class="btn btn-success" value="Next"/>
		</form>
    </div>
</div>
</div>
</body>
</html>