<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Choose features</title>
	<style type="text/css">
		#tableWrapper{
			height:80vh;
			overflow:auto;
		}
		.clear{
			height:2px;
		}
	</style>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"/>

	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" th:inline="javascript">
    	var levelUp;
    	var levelDown;
    	var maxsupport;
    	
    	$(document).ready(function(){
    		
    		/*<![CDATA[*/
    		maxsupport = /*[[${maxsupport}]]*/;
    		/*]]>*/
    		
    		$(function() {
    	    $( "#slider-range" ).slider({
    	      range: true,
    	      min: 1,
    	      max: maxsupport,
    	      values: [ 0, maxsupport ],
    	      slide: function( event, ui ) {
    	      	document.getElementById("supportText").innerHTML =  ui.values[ 0 ] + " - " + ui.values[ 1 ];
    	    	levelDown = ui.values[ 0 ]
    			levelUp = ui.values[ 1 ]
    	    	
    	    	/*<![CDATA[*/
    			$(".row").filter(function() {
    					var value = parseInt($(this).attr('level'), 10)
    			        return value < levelDown || value > levelUp;
    			}).parent().hide();
    	    	
    			$(".row").filter(function() {
    				var value = parseInt($(this).attr('level'), 10)
			        return value >= levelDown && value <= levelUp;
				}).parent().show();
    			/*]]>*/
    	      }
    	    });
    		document.getElementById("supportText").innerHTML = $( "#slider-range" ).slider( "values", 0 ) +
    	      " - " + $( "#slider-range" ).slider( "values", 1 );
    		levelDown = $( "#slider-range" ).slider( "values", 0 )
			levelUp = $( "#slider-range" ).slider( "values", 1 )
    	  	});
    		
    		$('#slider-range').mouseup(function() {
    			});
    	});
    </script>
</head>
<body>
<div class="container">
<div class="panel panel-default">
	<div class="panel-heading"><h4>These features was extracted for you from reviews of <a th:href="|http://itunes.apple.com/us/app/id${appid}|" th:text="${appsMap['__${appid}__'].name}"></a></h4></div>
	<div class="panel-body" style="overflow: auto;">
		<form action="/reviews/getapps" method="post">	
			<div id="tableWrapper">
			<table class="table table-bordered table-striped">
				<tr>
					<td></td>
					<td><b>Feature</b></td>
       				<td>Frequency</td>
	       			<td>Synonymical features</td>
			    </tr>
			    <tr th:each="feature : ${featuresList}">
		    		<td><input type="checkbox" name="feature" th:attr="value=${feature}"/></td>
		    		<td th:text="${feature}"></td>
		    		<td class = "row" th:attr="level=${featuresFreqency['__${feature}__']}" th:text="${featuresFreqency['__${feature}__']}"></td>
		    		<td> <i th:each="synonym : ${synonyms['__${feature}__']}"><i th:text="${synonym}"></i>,</i></td>
    			</tr>	
			</table>
			</div>
			<div style="word-wrap: break-word;">
  				<h4>Feature support count:  <b id="supportText">1</b></h4>
  				<div id="slider-range"></div>
  			</div>
			<div class="clear"></div>
			<a class="btn btn-danger" href="/reviews">Back</a>
			<input type="hidden" name="appid" th:attr="value=${appid}"/>
			<input type="submit" class="btn btn-success" value="Next"/>
		</form>
    </div>
</div>
</div>
</body>
</html>