<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"/>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script type="text/javascript" th:inline="javascript">
  var levelsupport, levelsentiment, features, apps, baseapp;
  
  window.onload = function () {
	/*<![CDATA[*/
	    baseapp = /*[[${appid}]]*/;
	    features = /*[[${features}]]*/;
	    apps = /*[[${apps}]]*/;
	/*]]>*/
	levelsupport = 1
	levelsentiment = 1
	appendCharts()
  }
  
function appendCharts(){

	for (feature in features){
		for (app in apps){
			postData={feature: features[feature], app: apps[app], baseapp:baseapp, levelsentiment:levelsentiment, levelsupport:levelsupport}
  			$.post("/reviews/rest/piechart", postData, function(responseData){
  				console.log(responseData.divid)
  				if (responseData.show){
  					$("#"+responseData.divid).empty();
    				var chart = new CanvasJS.Chart(responseData.divid, {            
      					title:{
       						text: "Positive/Negative"              
      					},
      						data: responseData.data
  						});
					chart.render();	
  				} else {
  					document.getElementById(responseData.divid).innerHTML = "Feature is not present"
  				}
  			});
		}
	}
}

$(document).ready(function(){
	  $('#sentimentLevel').on('input', function() {
		  document.getElementById("sentimentText").innerHTML = $(this).val()
		});

	  $('#supportLevel').on('input', function() {
		  document.getElementById("supportText").innerHTML = $(this).val()
		});
	  
	  $('#sentimentLevel').mouseup(function() {
		  levelsentiment=$('#sentimentLevel').val()
		  appendCharts();
		  });

		  
	  $('#supportLevel').mouseup(function() {
		  levelsupport=$('#supportLevel').val()
		  appendCharts();
		  });
});
</script>
<script th:src="@{/js/Canvas.js}"></script>
</head>
<body>
<div class="container">
	<div class="navbar navbar-default" id="bs-example-navbar-collapse-1">
		<form class="navbar-form navbar-left" action="/reviews/getapps" method="post">	
			<input type="hidden" name="feature" th:each="feature : ${features}" th:attr="value=${feature}"/>		
			<input type="hidden" name="appid" th:attr="value=${appid}"/>
			<input type="submit" class="btn btn-danger" value="Back"/>
		</form>
	  	<form class="navbar-form navbar-right" action="/reviews/getstatistic" method="post">
  			<input type="hidden" name="appid" th:attr="value=${appid}"/>
			<input type="hidden" name="feature" th:each="feature : ${features}" th:attr="value=${feature}"/>
			<input type="hidden" name="apps" th:each="app : ${apps}" th:attr="value=${app}"/>
			<input id="chartsSubmit" class="btn btn-default" type="submit" value="Charts"/>
		</form>	
  		<form class="navbar-form navbar-right" action="/reviews/getgraph" method="post">
	  		<input type="hidden" name="appid" th:attr="value=${appid}"/>
			<input type="hidden" name="feature" th:each="feature : ${features}" th:attr="value=${feature}"/>
			<input type="hidden" name="apps" th:each="app : ${apps}" th:attr="value=${app}"/>
			<input id="chartsSubmit" class="btn btn-default" type="submit" value="Feature Graph"/>
		</form>	
	</div>
	<div class="panel-body" style="height: 80vh; overflow: auto;">
		<table class="table table-bordered table-striped">
			<tr>
				<td><b>Features</b></td>
       			<td th:each="app : ${apps}"> 
       				<a th:href="|http://itunes.apple.com/us/app/id${app}|" th:text="${appsMap['__${app}__'].name}" target="_blank"></a>
       			</td>
		    </tr>
		    <tr th:each="feature : ${features}">
		    	<td th:text="${feature}">Feature name</td>
		    	<td th:each="app : ${apps}"> 
		    		<div th:attr="id=${app+'_'+feature}" style="word-wrap: break-word; width:300px; height: 300px;">
		    		</div>
		    	</td>
    		</tr>	
		</table>
    </div>
  
  	<div>
  		<div style="word-wrap: break-word;">
  			<h4>Sentiment strength minimum level: <b id="sentimentText">1</b></h4>
  			<input id="sentimentLevel" type="range" min="1" max="5" step="1" value="1"/>
  			<h5>(lowest value will incude more neutral comments, bigger value will take into account only most emotional feedback)</h5> 
  		</div>
  		<div style="word-wrap: break-word;">
  			<h4>Minimum feature support count:  <b id="supportText">1</b></h4>
  			<input id="supportLevel" type="range" min="1" th:attr="max=${maxsupport}" step="1" value="1"/>
  		</div>
  	</div>
  
  	<form action="/reviews/getstatistic" method="post">	
  		<input type="hidden" name="appid" th:attr="value=${appid}"/>
		<input type="hidden" name="feature" th:each="feature : ${features}" th:attr="value=${feature}"/>
		<input type="hidden" name="apps" th:each="app : ${apps}" th:attr="value=${app}"/>
		<input type="submit" class="btn btn-success" value="Go to charts"/>
	</form>
</div>
</body>
</html>